* 	{
	font:12px arial, sans-serif;
	white-space:no-wrap;
	}
body	{
	height:100%;
	margin:0;
	zmin-width:900px;
	_width:900px;
	border-left:1px solid #444;
	}
a {
	text-decoration:none;
	cursor:default;
	color:#333;
	}
#filesHeadings {
	float:left;
	width:100%;
	zbackground-color:#444;
	zcolor:white;
 	border-bottom:1px solid #444;
	}
#filesHeadings span {
	float:left;
 	padding:4px;
 	border-right:1px solid #444;
	}
#filesHeadings span:hover {
	background-color:lightblue;
	}
.fileName {
	width:300px;
	padding-left:20px !important;
	}
.effectiveTime{
        float:left;
	width:150px;
	}
.expiryTime{
        float:left;
	width:150px;
	}
.keywords{
	width:350px;
	}
#files {
	float:left;
	zwidth:900px;
	margin:6px;
	}
a.file {
	float:left;
	margin-top:2px;
	padding-right:10px;
 	border:1px solid white;
	color:#333;
	}
a.file.selected, a.file.selected span{
	background-color:#ccf;
	}
a.file:hover{
 	background-color: #def;
 	border-color: #cdf;
	}
#files span.fileName{
	float:left;
	}
#files span.modifiedDate{
	float:left;
	}
#files span.keywords{
	float:left;
	}
.listline .fileName {
	background-repeat:no-repeat;
	background-image:url("page-file.png");
	}
.xls .fileName{
	background-image:url("excel-small.gif");
}
.xml .fileName{
	background-image:url("xml-file.gif");
}
.xsl .fileName{
	background-image:url("xml-file.gif");
}
.xslt .fileName{
	background-image:url("xml-file.gif");
}
.listline .pdf .fileName {
	background-image:url("pdf-small.gif");
	}
.hidden{
	display:none;
	}

#pagingControls {
	height:20px;
	zfloat:left;
	clear:both;
	margin-top:40px;
	padding:10px;
	border-top:1px dotted #444;
	text-align:right;
	}
#pagingControls a {
	margin:0 4px;
	padding:0 4px;
	border:2px solid #444;
	color:#444;
	font-weight:bold;
	}
#pagingControls #pageNo {
	margin:0 4px;
	padding:0 4px;
	border:2px solid #444;
	background:#444;
	color:white;
	font-weight:bold;
	}

/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

#archiveQ{
     float:left;
     width:100%;
     text-align:centre;
}

#archiveQ span{
      float:left;
      width:100%;
      text-align:center;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextMenu LI.edit A { background-image: url(images/page_white_edit.png); }
.contextMenu LI.cut A { background-image: url(images/cut.png); }
.contextMenu LI.copy A { background-image: url(images/page_white_copy.png); }
.contextMenu LI.paste A { background-image: url(images/page_white_paste.png); }
.contextMenu LI.delete A { background-image: url(images/page_white_delete.png); }
.contextMenu LI.quit A { background-image: url(images/door.png); }
