<widget>
<type>internalPage</type>
	<parameters>
		<url>modeSwitcher.html</url>
		<privilegeCheck>true</privilegeCheck>
	</parameters>
    <attributes>
    	<modeswitchchannel>default</modeswitchchannel>
        <js>modeSwitcher.js</js>
        <css>style.css</css>
		<useHashUrl>true</useHashUrl>
		<displayheader>false</displayheader>
    </attributes>
</widget>
