<widget>
	<type>internalPage</type>
	<parameters>
		<url>modeSwitcher.html</url>
		<privilegeFiltered>true</privilegeFiltered>
	</parameters>
	<attributes>
		<modeswitchchannel>default</modeswitchchannel>
		<js>modeSwitcher.js</js>
		<useHashUrl>true</useHashUrl>
		<displayheader>false</displayheader>
		<style>border-radius:0;</style>
	</attributes>
</widget>
