#navbar	{
	background:#444;
	background-image:-moz-linear-gradient(top,#666,#333);
	padding:4px;
	text-shadow:1px 1px 1px #000;
	}
#navbar table {
	width:90%;
	table-layout:fixed;
	text-align:center;
	margin:auto;
	border:1px dotted gray;
	}
#navbar a {
	display:block;
	color:white;
	zfont-size:110%;
	text-decoration:none;
	padding:1px;
	margin: 4px;
	cursor:pointer;
	}
#navbar a:hover{
  background-color:gray;
  }
#navbar a.selected{
  background-color:gray;
  }