<widget>
	<type>httpRequest</type>
	<parameters>
		<method>GET</method>
		<url>{internalSchedulerUrl}/REST/manager/status</url>
		<xsl>schedulerStatus</xsl>
	</parameters>
	<attributes>
		<schedulerUrl>{schedulerUrl}</schedulerUrl>
		<js>schedulerStatus.js</js>
		<class>colorcombo-body</class>
		<displayHeader>false</displayHeader>
	</attributes>
</widget>
