.resourceBrowserFiles .widget-content{
	padding:10px;
}
.resourceBrowserFiles a.versionExp{
	text-decoration:none
}
.resourceBrowserFiles td.actions{
	cursor:pointer
}
.resourceBrowserFiles td div{
	display: none;
	width: 100px;
	background: #E6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
	text-align: left;
	position: absolute;
	box-shadow: 2px 2px 3px rgba(100,100,100,0.4);
}
.resourceBrowserFiles td div a{
	display:block;
	height:25px;
	padding-left:30px;
	text-decoration:none;
	padding-top:11px;
}
.resourceBrowserFiles td div a:hover{
	text-decoration:underline;
}
.resourceBrowserFiles td div a.download {
	background: url("download.png") no-repeat scroll 9px 6px;
}
.resourceBrowserFiles td div a.delete {
	background: url("delete.png") no-repeat scroll 9px 6px;
}
#busySpinner{
	display:none;
	position:absolute;
	background:#FFF;
	background:rgba(255,255,255,0.5);
	padding:4px;
}
