.resourceBrowserFiles .widget-content{
	padding:10px;
}
.resourceBrowserFiles .bfMetadata{
	float:right;
}
.resourceBrowserFiles h1{
	display:inline-block;
	width:80%;
}
.resourceBrowserFiles a{
	text-decoration:none;
}
.resourceBrowserFiles a:hover{
	text-decoration:underline;
}
.resourceBrowserFiles p{
	margin:0;
}
.resourceBrowserFiles .resources{
	margin:0;
}
.resourceBrowserFiles td.actions{
	cursor:pointer;
}
.resourceBrowserFiles td div{
	position:absolute;
	background:#EEE;
	border:1px solid #FFF;
	padding:4px 14px 0px 4px;
	box-shadow:2px 2px 3px rgba(100,100,100,0.4);
}
.resourceBrowserFiles td div a{
	display:block;
	padding:4px 0 8px 25px;
}
.resourceBrowserFiles td div a.download {
	background:url("download.png") no-repeat scroll;
}
.resourceBrowserFiles td div a.delete {
	background:url("delete.png") no-repeat scroll;
}
.resourceBrowserFiles .hidden {
	display: none;
}
#busySpinner{
	display:none;
	position:absolute;
	background:#FFF;
	background:rgba(255,255,255,0.5);
	padding:4px;
}