.instancesTable th{
	width:120px;
	}
.instancesTable th:nth-child(1){
	width:30px;
	text-align:center;
	}
.instancesTable th:nth-child(2){
	width:300px;
	}
.instancesTable th:nth-child(3){
	width:80px;
	}
.instancesTable th:nth-child(6){
	width:auto;
	}
#instancesGateway td:nth-child(2){
	width:500px;
	}
#instancesAuto input[type="text"]{
	width:30px;
	}
#instancesAuto input[type="text"]{
	width:18px;
	text-align:right;
	padding:2px;
	}
#instancesAuto td:nth-child(3),#instancesAuto td:nth-child(4){
	width:160px;
	}
#instancesAuto td:nth-child(5){
	width:auto;
	}
#instancesTotals td{
	border-top:1px solid;
	font-weight:bold;
	}