body{
	background:#666 url('../../background.png');
	}
button,.button{
	display:inline-block;
	padding:3px 12px;
	color:#fff!important;
	border:1px solid rgba(0,0,0,0.4)!important;
	border-radius:4px;
	cursor:pointer;
	text-decoration:none;
	text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	}
button:hover,.button:hover{
	zborder-width:2px!important;
	}
h1,h2{
	font-weight:normal;
	font-size:200%!important;
	margin-bottom:10px;
	}
input:not([type]),input[type="text"],input[type="password"]{
	padding:3px;
	}


/* Widget Override Styles */
.widget-head{
	margin:-1px;
	padding:4px 8px;
	color:#FFF;
	background:#6CBCCD;
	border-bottom-right-radius:0!important;
	border-bottom-left-radius:0!important;
	}
.widget-messages li{
	margin-bottom:10px;
	border:1px solid;
	border-radius:12px;
	box-shadow:2px 2px 4px #555;
	text-align:center;
	list-style:none;
	background-color:#99B2B7;
	border-color:white;
	}
.widget-messages li.error{
	background-color:lightsalmon;
	border-color:darkred;
	}
.widget-content .widget-content{
	border-radius:0;
	}
.widget.ui-corner-all,.widget-head.ui-corner-all{
	border-radius:12px;
	}
.ui-tabs{
	font-size:120%;
	}
.ui-tabs-nav .ui-state-default{
	background:#D5DED9;
	}
.ui-tabs-nav .ui-state-active{
	color:#EEE;
	background:#888;
	}

/* Layout Styling */
.colorcombo-header h1{
	font-size:250%;
	color:rgba(255,255,255,0.7);
	}
.colorcombo-sidebar{
	margin-bottom:20px;
	padding:0;
	border:1px solid #AAA;
	}
.colorcombo-sidebar.widget:empty{
	border:none;
	}
.colorcombo-sidebar .widget-content{
	display:block!important;
	min-height:20px;
	border-radius:0;
	}

/* Color Palettes */
.colorcombo-header{
	color:#FFF;
	background-color:#B299B7;
	border-color:#3C8C9D;
	}
.colorcombo-header .button{
	zcolor:#fff!important;
	background-color:rgba(0,0,0,0.2);
	}
.colorcombo-header2{
	color:#FFF;
	background-color:#333;
	}
.colorcombo-title{
	color:#6CBCCD;
	background-color:#FFF;
	}
.colorcombo-body{
	color:#333;
	background-color:#FFF;
	}
.colorcombo-body .button{
	color:#fff!important;
	background-color:#B299B7;
	}
.colorcombo-sidebar{
	color:#333;
	background-color:#EEE;
	}
.colorcombo-footer{
	color:#DDD;
	background-color:#333;
	}
.colorcombo-background{
	color:#EEE;
	background-color:#888;
	}
.colorcombo-background2{
	color:#EEE;
	background-color:#DDD;
	}
.colorcombo-highlight{
	color:#FFF!important;
	background-color:#EC0;
	}
.colorcombo-highlight.button{
	background-color:#EC0;
	}
.colorcombo-highlight2{
	color:#FFF;
	background-color:#66C703;
	}
.colorcombo-faded{
	opacity:0.5;
	}ubuntu@ec2-dev-mailmerger:/var/lib/tomcat6/webapps/portal-wizard/widgets/loginLayout$ 

