<widget>
	<type>internalPage</type>
	<parameters>
		<url>resourceBrowserFilesNapierButtons.html</url>
	</parameters>
	<attributes>
		<js>resourceBrowserFilesNapierButtons.js</js>
		<displayHeader>false</displayHeader>
		<css>resourceBrowserFilesNapierButtons.css</css>
	</attributes>
</widget>
