.resourceBrowserDirectoryTree{
	width:400px;
	float:left;
}
.resourceBrowserDirectoryTree form input:first-child{
	width:160px;
}
.resourceBrowserDirectoryTree .tree{
	min-height:400px;
	padding:4px;
	border:1px solid #aaa;
}
.resourceBrowserDirectoryTree .node .node .node{
	margin-left:20px;
}
.resourceBrowserDirectoryTree .plus{
	display:none;
}
.resourceBrowserDirectoryTree .dir{
	display:block;
	padding:4px 6px 4px 26px;
	background:url("folder_closed.png") no-repeat scroll;
	text-decoration:none;
	color:inherit;
}
.resourceBrowserDirectoryTree .active{
	color:#fff;
	background:url("folder_open.png") no-repeat scroll #555;
}
.resourceBrowserDirectoryTree a:hover{
	text-decoration:underline;
	outline:1px dotted;
}
/* all context menus have this class */
.context-menu{
	border-radius:4px;
	background-color:#f2f2f2;
	border:1px solid #999;
	list-style-type:none;
	margin:0;
	padding:0;
}
.context-menu a{
	display:block;
	padding:3px;
	text-decoration:none;
	color:#333;
}
.context-menu a:hover{
	background-color:#666;
	color:white;
}
