#dashOptions {
	padding-left: 38px;
}
#dashOptions a{
	text-decoration:none;
	cursor:pointer;
	color: inherit;
}
.h1 {
	display:block;
	font-size:140%;
	font-weight:bold;
	padding-top:6px;
}
.p {
	display: block;
	padding: 2px 20px 2px 2px;
}
.subOptions {
	list-style-type: disc;
	padding-left: 16px;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
h1{
	font-size:160%;
	font-weight:normal;
}
h2{
	font-size:120%;
}
