<widget>
	<type>internalPage</type>
	<parameters>
		<url>users.html</url>
		<privilegeFiltered>true</privilegeFiltered>
	</parameters>
	<attributes>
		<css>users.css</css>
		<js>users.js</js>
		<displayHeader>false</displayHeader>
		<class>colorScheme2</class>
		<permissions>privileges.stats - Dash - Stats,privileges.userAdmin - Dash - User Admin,privileges.resources - Dash - Resources,privileges.viewInstances - Dash - View Instances,privileges.settings - Dash - Settings</permissions>
	</attributes>
</widget>
