.usersTable {
	width:826px;
	}
.usersTable td{
	width:120px;
	}
.usersTable td:nth-child(1){
	width:20px;
	}
.usersTable td:nth-child(6){
	text-align:right;
	}
.usersTable td:nth-child(7){
	width:auto;
	}
.usersTable textarea{
	width:114px;
	}
.usersTable input[type="checkbox"]{
	margin:0 4px;
	}
.usersTable input[type="text"]:disabled,.usersTable input[type="checkbox"]:disabled,.usersTable input[type="password"]:disabled,.usersTable textarea:disabled{
	border:1px solid white;
	background:none;
	color:#333
	}
.required{
	border: solid 1px red !important;
}
.usersTable tr[inactive="show"] td {
	color: #D1CFCF;
}
.usersTable tr[inactive="show"] td input[type='text']{
	color: #D1CFCF;
}
.usersTable tr[inactive="show"] td input[type='password']{
	color: #D1CFCF;
}
.usersTable tr[inactive="hide"] td {
	display: none;
}
