<widget>
	<type>internalPage</type>
	<parameters>
		<url>instanceManagementCalcInstances.html</url>
	</parameters>
	<attributes>
		<autoScaleGetInstancesUrl>/autoscale-stats/aws/instances/</autoScaleGetInstancesUrl>
		<autoScaleStatsUrl>/autoscale-stats/stats</autoScaleStatsUrl>
		<imageId>ami-f394629a</imageId>
		<js>calcInstances.js</js>
		<displayHeader>false</displayHeader>
	</attributes>
</widget>
