<widget>
	<type>internalPage</type>
	<parameters>
		<url>instanceManagementCalcInstances.html</url>
	</parameters>
	<attributes>
		<autoScaleGetInstancesUrl>proxy/autoscale-stats/aws/instances/</autoScaleGetInstancesUrl>
		<autoScaleStatsUrl>proxy/autoscale-stats/stats/cpu</autoScaleStatsUrl>
		<instancesUrl>proxy/instances</instancesUrl>
		<imageId>ami-f394629a</imageId>
		<js>calcInstances.js</js>
		<displayHeader>true</displayHeader>
	</attributes>
</widget>
